Flask==0.10.1
Flask-Migrate==1.8.0
Flask-Testing==0.4.2
Flask-Bower==1.2.1
Flask-Assets==0.11
Flask-Cors==2.1.2
Flask-Sqlalchemy==2.1
Flask-Script==2.0.5
Flask-Login==0.3.2
Flask-OAuthlib==0.9.2
SQLAlchemy==1.0.12
SQLAlchemy-Utils==0.31.6
python-dateutil==2.4.2
PyJWT==1.4.0
