Flask==0.10.1
Flask-Migrate==1.7.0
Flask-Testing==0.4.2
Flask-Bower==1.2.1
Flask-Assets==0.11
Flask-Cors
Flask-Sqlalchemy==2.1
Flask-Script==2.0.5
Flask-Login
SQLAlchemy==1.0.11
SQLAlchemy-Utils==0.31.6
python-dateutil==2.4.2
PyJWT
