<div ng-controller="CategoryCtrl" ng-init="initCategoryList()">
    <div class="page-header">
        <h1>Categories <small></small>
            <button type="button" class="btn btn-default pull-right" ng-click="add()">Add new category</button>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-6" >
            <table class="table table-condensed table-hover">
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody >
                    <tr></tr>
                    <tr ng-repeat="i in list">
                        <td>
                            <div class="form-group form-group-sm form-horizontal" ng-class="errorStyle(i.error)">
                                <input ng-model="i.name"
                                       ng-blur="saveShelf(i)"
                                       ng-click="editShelf(i)"
                                       placeholder="Write name of category"
                                       class="form-control"
                                       ng-value="i.name"/>

                                <span class="help-block" ng-show="i.error">Cannot be empty!</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
