<!doctype html>
<html ng-app="myCashManager">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}MyCashmanager{% endblock %} | Simple accounting</title>
    <link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='html5-boilerplate/dist/css/normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='html5-boilerplate/dist/css/main.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap-theme.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='bootstrap-select/dist/css/bootstrap-select.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='angular-bootstrap/ui-bootstrap-csp.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='angular-xeditable/dist/css/xeditable.css') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body role="document">
    <link id="linkApiRoot" href="/static/js/"/>

    <!--
    <h1>Flask OAuth Example</h1>
    <ul class=navigation>
        <li><a href=" {{ url_for('index') }}">overview</a></li>
        {% if g.user %}
        <li><a href="{{ url_for('logout') }}">sign out [{{ g.user.screen_name}}]</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">sign in</a></li>
        {% endif %}
    </ul>
    {% for message in get_flashed_messages() %}
    <p class=message>{{ message }}</p>
    {% endfor %}
    -->
    {% block body %}{% endblock %}


    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular/angular.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-route/angular-route.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-animate/angular-animate.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-xeditable/dist/js/xeditable.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-utils-pagination/dirPagination.js') }}"></script>


    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/app.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/dash/dash.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/dash/add_transaction_ctrl.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/dash/create_account_ctrl.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/account/account.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/version/version.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/version/version-directive.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/version/interpolate-filter.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/services/accountService.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/services/appService.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/category/category.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/cycles/cycles.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/cycles/add_cycle_ctrl.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='mycashmanager-ui/cycles/add_cycle_transaction_ctrl.js') }}"></script>


<script>
    function $apiRoot() {
        return 'bower/mycashmanager-ui/';
    }
</script>

</body>
</html>
