
<form name="addCycleContentForm" class="form-horizontal" ng-submit="submit(addCycleContentForm)" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Add cycle</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-init="getAccounts()">
            <label for="currencyDropdown" class="col-sm-2 control-label">Account</label>
            <div class="col-sm-10">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="currencyDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ selected.account.name }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="currencyDropdown">
                        <li ng-repeat="item in accounts">
                            <a href="#" ng-click="$event.preventDefault(); selected.account = item">{{ item.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" placeholder="insert cycle name" ng-model="selected.name" ng-minlength="3" required>
            </div>
        </div>

        <div class="form-group">
            <label for="valueName" class="col-sm-2 control-label">Value</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="valueName" placeholder="insert value" step="0.01" min="0" ng-model="selected.value" required>
            </div>
        </div>


        <div class="form-group">
            <label for="dateStart" class="col-sm-2 control-label">Date start</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="dateStart" ng-model="selected.dateStart" required>
            </div>
        </div>

        <div class="form-group">
            <label for="dateEnd" class="col-sm-2 control-label">Date end</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="dateEnd" ng-model="selected.dateEnd">
            </div>
        </div>

        <div class="form-group" ng-init="getTransactionTypes()">
            <label for="typeDropdown" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="typeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ selected.type.name }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="typeDropdown">
                        <li ng-repeat="item in transactionTypes">
                            <a href="#" ng-click="$event.preventDefault(); selected.type = item">{{ item.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group" ng-init="getTransactionCategories()">
            <label for="categoryDropdown" class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ selected.category.name }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                        <li ng-repeat="item in transactionCategories">
                            <a href="#" ng-click="$event.preventDefault(); selected.category = item">{{ item.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="repeatValue" class="col-sm-2 control-label">Repeats</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="number" class="form-control" id="repeatValue" placeholder="every" step="1" min="1" ng-model="selected.repeatValue" required style="float: left;width: initial;">

                    <div class="dropdown" style="float: left;width: initial;">
                        <button class="btn btn-default dropdown-toggle" type="button" id="repeatTypeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ selected.repeatType.name }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="repeatTypeDropdown">
                            <li ng-repeat="item in repeatTypes">
                                <a href="#" ng-click="$event.preventDefault(); selected.repeatType = item">{{ item.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-init="getRepeatTypes()">
            <label for="repeatTypeDropdown" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="addCycleContentForm.$invalid">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>